.TarotCard {
  position: relative;
  cursor: pointer;
  user-select: none;
  flex: 1;

  &.selected {
    z-index: 10;
  }

  img {
    width: 100%;
    transition: transform 0.4s ease;
  }
  &:hover {
    img {
      transform: translateY(-10px);
    }
  }
  &.animating {
    img {
      transform: translateZ(0);
    }
  }
}
