.TarotCard {
  position: relative;
  cursor: pointer;
  user-select: none;
  flex: 1;
  z-index: 1;

  img {
    width: 100%;
    transition: transform 0.4s ease;
  }

  @media (hover: hover) {
    &:hover {
      img {
        transform: translateY(-10px);
      }
    }
  }

  &.animating {
    pointer-events: none;

    img {
      transform: translateZ(0);
    }
  }

  &.selected {
    z-index: 10;
  }
}
