.Deck {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 2;

  &__source {
    position: absolute;
    left: 50%;
  }

  &__cards {
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    padding: 0 5vw;
    gap: 20px;
    align-items: center;
  }

  &.converged {
    .TarotCard {
      position: absolute;
      width: 300px;
    }
  }
}
