.Header {
  color: var(--color-dark);
  width: 100%;
  padding: 10px 30px;
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__menu {
    display: flex;
    gap: 20px;
    font-size: 1.3rem;

    &__item {
      list-style-type: none;
    }
  }
}
