.Page {
  position: relative;
  flex: 1;
  display: flex;
  justify-content: center;
  z-index: 2;
  padding: 50px;
  padding-top: 0;

  &__content {
    position: relative;
    width: 100%;
    max-width: 1000px;
    display: flex;
    flex-direction: column;
  }
}
