:root {
  --color-primary: #d6c4a8;
  --color-secondary: #c8661e;
  --color-dark1: #121903;
  --color-dark2: #296248;
  --color-dark3: #6b866f;
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  position: relative;
  height: 100%;
  font-family: "EB Garamond", serif;
}
